[submodule "deps/xtest"]
	path = deps/xtest
	url = http://github.com/akzi/xtest.git
[submodule "deps/xnet"]
	path = deps/xnet
	url = http://github.com/akzi/xnet.git
[submodule "deps/xlog"]
	path = deps/xlog
	url = http://github.com/akzi/xlog.git
	
